.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.rating-box {
    width: 25%;
    height: 35%;
    padding: 30px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 5%;
}

.heading {
    color: hsl(0, 0%, 100%);
}

.content {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.6;
}

.list-of-number {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 2px;
    height: 15%;
    justify-content: space-between;
}

.rating-number {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    width: 3.2vw;
    height: 4.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-number:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.rating-number2 {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    border-radius: 50%;
    background-color: hsl(25, 97%, 53%);
    width: 3.2vw;
    height: 4.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-circle {
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    width: 3.2vw;
    height: 4.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    text-decoration: none;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 100%;
    height: 13%;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.error-message {
    color: red;
    font-size: 15px;
}

.thankyou-box {
    width: 26%;
    height: 32%;
    padding: 30px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rating-ty {
    color: hsl(25, 97%, 53%);
    font-size: 15px;
    height: 10%;
    width: 50%;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 25px;
}

.ty-h2 {
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ty-content {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 18px;
}

@media (max-width: 375px) {
    .rating-box {
        width: 70%;
        height: 30%;
    }
    .heading {
        font-size: 1.4rem;
    }
    .rating-circle {
        width: 10vw;
        height: 3.8vh;
    }
    .rating-number {
        width: 10vw;
        height: 3.8vh;
    }
    .rating-number2 {
        width: 10vw;
        height: 3.8vh;
    }
    .submit-button {
        font-size: 14px;
        margin-top: 20px;
    }
    .content {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .thankyou-box {
        width: 70%;
    }
    .rating-ty {
        width: 70%;
    }
    .ty-content {
        width: 110%;
        padding: 0;
    }
}